<% include ../../../app/views/head %>
<h1>Short Stories</h1>
<div id="app"></div>

<script src="/scripts/build/experiments/short_stories.js" type="text/javascript"></script>
<% include ../../../app/views/tail %>

