node_modules
docs/
*.log
.idea

experiments/wack_a_mole/public/mturk-clt/bin/mturk.properties

public/scripts/*.js
public/scripts/**/*.js
experiments/**/public/scripts/*.js
experiments/**/public/scripts/**/*.js

cf_api_key.js

*.key
*.crt
