<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns:mv="http://macVmlSchemaUri" xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta name=Title content="DEPARTMENT OF COMPUTER SCIENCE">
<meta name=Keywords content="">
<meta http-equiv=Content-Type content="text/html; charset=macintosh">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 14">
<meta name=Originator content="Microsoft Word 14">
<link rel=File-List href="default-consent_files/filelist.xml">
<link rel=Edit-Time-Data href="default-consent_files/editdata.mso">
<!--[if !mso]>
<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
w\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
</style>
<![endif]-->
<title>INFORMED CONSENT, DEPARTMENT OF COMPUTER SCIENCE, UNIVERSITY OF PRINCE EDWARD ISLAND</title>
<style>
<!--
 /* Font Definitions */
@font-face
	{font-family:"Courier New";
	panose-1:2 7 3 9 2 2 5 2 4 4;
	mso-font-charset:0;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:-536859905 -1073711037 9 0 511 0;}
@font-face
	{font-family:Times;
	panose-1:2 0 5 0 0 0 0 0 0 0;
	mso-font-charset:0;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:7 0 0 0 17 0;}
@font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;
	mso-font-charset:2;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:0 268435456 0 0 -2147483648 0;}
@font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;
	mso-font-charset:2;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:0 268435456 0 0 -2147483648 0;}
@font-face
	{font-family:Tahoma;
	panose-1:2 11 6 4 3 5 4 4 2 4;
	mso-font-charset:0;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:-520082689 -1073717157 41 0 1 0;}
@font-face
	{font-family:Webdings;
	panose-1:5 3 1 2 1 5 9 6 7 3;
	mso-font-charset:2;
	mso-generic-font-family:auto;
	mso-font-pitch:variable;
	mso-font-signature:0 268435456 0 0 -2147483648 0;}
 /* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:"Times New Roman";
	mso-ansi-language:EN-US;}
h1
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-next:Normal;
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	page-break-after:avoid;
	mso-outline-level:1;
	font-size:10.0pt;
	font-family:"Times New Roman";
	mso-font-kerning:0pt;
	mso-ansi-language:EN-US;
	font-weight:normal;}
p.MsoBodyText2, li.MsoBodyText2, div.MsoBodyText2
	{mso-style-unhide:no;
	mso-style-link:"Body Text 2 Char";
	margin:0in;
	margin-bottom:.0001pt;
	text-align:justify;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:"Times New Roman";
	mso-fareast-font-family:"Times New Roman";
	mso-ansi-language:EN-US;}
a:link, span.MsoHyperlink
	{mso-style-priority:99;
	mso-style-parent:"";
	color:blue;
	text-decoration:underline;
	text-underline:single;}
a:visited, span.MsoHyperlinkFollowed
	{mso-style-noshow:yes;
	mso-style-priority:99;
	color:purple;
	mso-themecolor:followedhyperlink;
	text-decoration:underline;
	text-underline:single;}
strong
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	mso-bidi-font-weight:normal;}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-link:"Balloon Text Char";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:8.0pt;
	font-family:Tahoma;
	mso-fareast-font-family:"Times New Roman";
	mso-bidi-font-family:"Times New Roman";
	mso-ansi-language:X-NONE;
	mso-fareast-language:X-NONE;}
span.BalloonTextChar
	{mso-style-name:"Balloon Text Char";
	mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-parent:"";
	mso-style-link:"Balloon Text";
	mso-ansi-font-size:8.0pt;
	mso-bidi-font-size:8.0pt;
	font-family:Tahoma;
	mso-ascii-font-family:Tahoma;
	mso-hansi-font-family:Tahoma;
	mso-bidi-font-family:Tahoma;}
span.BodyText2Char
	{mso-style-name:"Body Text 2 Char";
	mso-style-unhide:no;
	mso-style-locked:yes;
	mso-style-link:"Body Text 2";
	mso-ansi-font-size:12.0pt;
	mso-bidi-font-size:12.0pt;
	mso-ansi-language:EN-US;}
span.SpellE
	{mso-style-name:"";
	mso-spl-e:yes;}
span.GramE
	{mso-style-name:"";
	mso-gram-e:yes;}
@page WordSection1
	{size:8.5in 11.0in;
	margin:.4in .4in .4in .4in;
	mso-header-margin:1.0in;
	mso-footer-margin:1.0in;
	mso-paper-source:0;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
@list l0
	{mso-list-id:-227;
	mso-list-template-ids:-1572415928;}
@list l0:level1
	{mso-level-number-format:bullet;
	mso-level-text:"";
	mso-level-tab-stop:0in;
	mso-level-number-position:left;
	margin-left:0in;
	text-indent:0in;
	font-family:Symbol;}
@list l0:level2
	{mso-level-number-format:bullet;
	mso-level-text:\F0B7;
	mso-level-tab-stop:.5in;
	mso-level-number-position:left;
	margin-left:.75in;
	text-indent:-.25in;
	font-family:Symbol;}
@list l0:level3
	{mso-level-number-format:bullet;
	mso-level-text:o;
	mso-level-tab-stop:1.0in;
	mso-level-number-position:left;
	margin-left:1.25in;
	text-indent:-.25in;
	font-family:"Courier New";}
@list l0:level4
	{mso-level-number-format:bullet;
	mso-level-text:\F0A7;
	mso-level-tab-stop:1.5in;
	mso-level-number-position:left;
	margin-left:1.75in;
	text-indent:-.25in;
	font-family:Wingdings;}
@list l0:level5
	{mso-level-number-format:bullet;
	mso-level-text:\F0FA;
	mso-level-tab-stop:2.0in;
	mso-level-number-position:left;
	margin-left:2.25in;
	text-indent:-.25in;
	font-family:Wingdings;}
@list l0:level6
	{mso-level-number-format:bullet;
	mso-level-text:\F0B7;
	mso-level-tab-stop:2.5in;
	mso-level-number-position:left;
	margin-left:2.75in;
	text-indent:-.25in;
	font-family:Symbol;}
@list l0:level7
	{mso-level-number-format:bullet;
	mso-level-text:o;
	mso-level-tab-stop:3.0in;
	mso-level-number-position:left;
	margin-left:3.25in;
	text-indent:-.25in;
	font-family:"Courier New";}
@list l0:level8
	{mso-level-number-format:bullet;
	mso-level-text:\F0A7;
	mso-level-tab-stop:3.5in;
	mso-level-number-position:left;
	margin-left:3.75in;
	text-indent:-.25in;
	font-family:Wingdings;}
@list l0:level9
	{mso-level-number-format:bullet;
	mso-level-text:\F0FA;
	mso-level-tab-stop:4.0in;
	mso-level-number-position:left;
	margin-left:4.25in;
	text-indent:-.25in;
	font-family:Wingdings;}
@list l1
	{mso-list-id:77214516;
	mso-list-type:hybrid;
	mso-list-template-ids:705754104 -1302685460 67698691 67698693 67698689 67698691 67698693 67698689 67698691 67698693;}
@list l1:level1
	{mso-level-number-format:bullet;
	mso-level-text:\F0B7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Symbol;}
@list l1:level2
	{mso-level-number-format:bullet;
	mso-level-text:o;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:"Courier New";}
@list l1:level3
	{mso-level-number-format:bullet;
	mso-level-text:\F0A7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Wingdings;}
@list l1:level4
	{mso-level-number-format:bullet;
	mso-level-text:\F0B7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Symbol;}
@list l1:level5
	{mso-level-number-format:bullet;
	mso-level-text:o;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:"Courier New";}
@list l1:level6
	{mso-level-number-format:bullet;
	mso-level-text:\F0A7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Wingdings;}
@list l1:level7
	{mso-level-number-format:bullet;
	mso-level-text:\F0B7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Symbol;}
@list l1:level8
	{mso-level-number-format:bullet;
	mso-level-text:o;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:"Courier New";}
@list l1:level9
	{mso-level-number-format:bullet;
	mso-level-text:\F0A7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Wingdings;}
@list l2
	{mso-list-id:1080492426;
	mso-list-type:hybrid;
	mso-list-template-ids:1940809796 37634796 67698691 67698693 67698689 67698691 67698693 67698689 67698691 67698693;}
@list l2:level1
	{mso-level-number-format:bullet;
	mso-level-text:\F063;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Webdings;}
@list l2:level2
	{mso-level-number-format:bullet;
	mso-level-text:o;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:"Courier New";
	mso-bidi-font-family:"Times New Roman";}
@list l2:level3
	{mso-level-number-format:bullet;
	mso-level-text:\F0A7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Wingdings;}
@list l2:level4
	{mso-level-number-format:bullet;
	mso-level-text:\F0B7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Symbol;}
@list l2:level5
	{mso-level-number-format:bullet;
	mso-level-text:o;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:"Courier New";
	mso-bidi-font-family:"Times New Roman";}
@list l2:level6
	{mso-level-number-format:bullet;
	mso-level-text:\F0A7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Wingdings;}
@list l2:level7
	{mso-level-number-format:bullet;
	mso-level-text:\F0B7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Symbol;}
@list l2:level8
	{mso-level-number-format:bullet;
	mso-level-text:o;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:"Courier New";
	mso-bidi-font-family:"Times New Roman";}
@list l2:level9
	{mso-level-number-format:bullet;
	mso-level-text:\F0A7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Wingdings;}
@list l3
	{mso-list-id:1085803011;
	mso-list-type:hybrid;
	mso-list-template-ids:-607335862 1814064442 67698691 67698693 67698689 67698691 67698693 67698689 67698691 67698693;}
@list l3:level1
	{mso-level-start-at:5;
	mso-level-number-format:bullet;
	mso-level-text:-;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:"Times New Roman";
	mso-fareast-font-family:"Times New Roman";}
@list l3:level2
	{mso-level-number-format:bullet;
	mso-level-text:o;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:"Courier New";}
@list l3:level3
	{mso-level-number-format:bullet;
	mso-level-text:\F0A7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Wingdings;}
@list l3:level4
	{mso-level-number-format:bullet;
	mso-level-text:\F0B7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Symbol;}
@list l3:level5
	{mso-level-number-format:bullet;
	mso-level-text:o;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:"Courier New";}
@list l3:level6
	{mso-level-number-format:bullet;
	mso-level-text:\F0A7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Wingdings;}
@list l3:level7
	{mso-level-number-format:bullet;
	mso-level-text:\F0B7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Symbol;}
@list l3:level8
	{mso-level-number-format:bullet;
	mso-level-text:o;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:"Courier New";}
@list l3:level9
	{mso-level-number-format:bullet;
	mso-level-text:\F0A7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Wingdings;}
@list l4
	{mso-list-id:1093207630;
	mso-list-type:simple;
	mso-list-template-ids:67698689;}
@list l4:level1
	{mso-level-number-format:bullet;
	mso-level-text:\F0B7;
	mso-level-tab-stop:.25in;
	mso-level-number-position:left;
	margin-left:.25in;
	text-indent:-.25in;
	font-family:Symbol;}
@list l5
	{mso-list-id:1398285250;
	mso-list-type:hybrid;
	mso-list-template-ids:241609126 37634796 67698691 67698693 67698689 67698691 67698693 67698689 67698691 67698693;}
@list l5:level1
	{mso-level-number-format:bullet;
	mso-level-text:\F063;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Webdings;}
@list l5:level2
	{mso-level-number-format:bullet;
	mso-level-text:o;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:"Courier New";
	mso-bidi-font-family:"Times New Roman";}
@list l5:level3
	{mso-level-number-format:bullet;
	mso-level-text:\F0A7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Wingdings;}
@list l5:level4
	{mso-level-number-format:bullet;
	mso-level-text:\F0B7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Symbol;}
@list l5:level5
	{mso-level-number-format:bullet;
	mso-level-text:o;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:"Courier New";
	mso-bidi-font-family:"Times New Roman";}
@list l5:level6
	{mso-level-number-format:bullet;
	mso-level-text:\F0A7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Wingdings;}
@list l5:level7
	{mso-level-number-format:bullet;
	mso-level-text:\F0B7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Symbol;}
@list l5:level8
	{mso-level-number-format:bullet;
	mso-level-text:o;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:"Courier New";
	mso-bidi-font-family:"Times New Roman";}
@list l5:level9
	{mso-level-number-format:bullet;
	mso-level-text:\F0A7;
	mso-level-tab-stop:none;
	mso-level-number-position:left;
	text-indent:-.25in;
	font-family:Wingdings;}
ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
table.MsoNormalTable
	{mso-style-name:"Table Normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-qformat:yes;
	mso-style-parent:"";
	mso-padding-alt:0in 5.4pt 0in 5.4pt;
	mso-para-margin:0in;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:10.0pt;
	font-family:"Times New Roman";}
</style>
<![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="2050">
  <o:colormenu v:ext="edit" fillcolor="none [2732]"/>
 </o:shapedefaults></xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body lang=EN-CA link=blue vlink=purple style='tab-interval:.5in'>

<div class=WordSection1>

<h1><!--[if gte vml 1]><v:shapetype id="_x0000_t75" coordsize="21600,21600"
 o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f"
 stroked="f">
 <v:stroke joinstyle="miter"/>
 <v:formulas>
  <v:f eqn="if lineDrawn pixelLineWidth 0"/>
  <v:f eqn="sum @0 1 0"/>
  <v:f eqn="sum 0 0 @1"/>
  <v:f eqn="prod @2 1 2"/>
  <v:f eqn="prod @3 21600 pixelWidth"/>
  <v:f eqn="prod @3 21600 pixelHeight"/>
  <v:f eqn="sum @0 0 1"/>
  <v:f eqn="prod @6 1 2"/>
  <v:f eqn="prod @7 21600 pixelWidth"/>
  <v:f eqn="sum @8 21600 0"/>
  <v:f eqn="prod @7 21600 pixelHeight"/>
  <v:f eqn="sum @10 21600 0"/>
 </v:formulas>
 <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/>
 <o:lock v:ext="edit" aspectratio="t"/>
</v:shapetype><v:shape id="_x0000_s1027" type="#_x0000_t75" style='position:absolute;
 margin-left:395pt;margin-top:-9pt;width:134.65pt;height:58.2pt;z-index:251657728'>
 <v:imagedata src="default-consent_files/image001.png" o:title=""/>
</v:shape><![endif]--><![if !vml]><img 
  src="http://files.upei.ca/misc/upeishield.png" v:shapes="_x0000_s1027">
  <br />
  <span style='mso-ignore:vglayout;position:
relative;z-index:251657728'><span style='position:absolute;left:392px;
top:-14px;width:137px;height:60px'></span></span><![endif]><strong><span
lang=EN-US style='font-size:16.0pt;mso-bidi-font-size:10.0pt'>DEPARTMENT OF
COMPUTER SCIENCE &amp; IT<o:p></o:p></span></strong></h1>

<p class=MsoNormal><strong><span lang=EN-US style='font-size:16.0pt;mso-bidi-font-size:
10.0pt'>UNIVERSITY OF PRINCE EDWARD ISLAND<br>
INFORMED CONSENT FORM</span></strong><span lang=EN-US style='font-size:16.0pt;
mso-bidi-font-size:10.0pt'><o:p></o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:16.0pt;mso-bidi-font-size:
10.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><span lang=EN-US style='font-size:16.0pt;mso-bidi-font-size:
10.0pt'>Research Project: <span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><b
style='mso-bidi-font-weight:normal'>Assessing Feedback Type on Crowdsourcing
Outcomes<o:p></o:p></b></span></p>

<p class=MsoNormal style='margin-top:6.0pt'><span lang=EN-US style='font-size:
16.0pt;mso-bidi-font-size:10.0pt'>Investigators:<span style='mso-tab-count:
2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>Dr.
Scott Bateman, Department of Computer Science &amp; IT (<span style='color:
#232323'>620-5055, sbateman@upei.ca)</span><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp; </span><o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:6.0pt'><span lang=EN-US style='font-size:
16.0pt;mso-bidi-font-size:10.0pt'><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:6.0pt'><span lang=EN-US
style='font-size:16.0pt;mso-bidi-font-size:10.0pt'>This consent form, a copy of
which you can print out now, is only part of the process of informed consent.
It should give you the basic idea of what the research is about and what your
participation will involve. If you would like more detail about something
mentioned here, or information not included here, please ask. Please take the
time to read this form carefully and to understand any accompanying
information. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:6.0pt'><span lang=EN-US
style='font-size:16.0pt;mso-bidi-font-size:10.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='margin-bottom:6.0pt'><span lang=EN-US
style='font-size:16.0pt;mso-bidi-font-size:10.0pt'>The goal of the research is
to compare different forms of feedback and how people make use of the feedback
in completing their work. <o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:6.0pt'><span lang=EN-US
style='font-size:16.0pt;mso-bidi-font-size:10.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='margin-bottom:6.0pt'><b style='mso-bidi-font-weight:
normal'><span lang=EN-US style='font-size:16.0pt;mso-bidi-font-size:10.0pt'>We
invite you to participate in this research.</span></b><span lang=EN-US
style='font-size:16.0pt;mso-bidi-font-size:10.0pt'> Participation will require at most <b
style='mso-bidi-font-weight:normal'>30 </b> minutes, during which you will be
asked to 
complete a short
demographics and experience questionnaire</b>. Your participation will take
place at your discretion using your current computer equipment.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:6.0pt'><span lang=EN-US
style='font-size:16.0pt;mso-bidi-font-size:10.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='margin-bottom:6.0pt'><span lang=EN-US
style='font-size:16.0pt;mso-bidi-font-size:10.0pt'>In this study you will be
asked to complete an original two-sentence story based on a photograph. You
will then answer a few questions based on charts, which describe
characteristics of your work. <span style="mso-spacerun:yes">&nbsp;</span>Finally,
you will be asked to answer a questionnaire describing your short experience
completing the tasks<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:6.0pt'><span lang=EN-US
style='font-size:16.0pt;mso-bidi-font-size:10.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='margin-bottom:6.0pt'><span lang=EN-US
style='font-size:16.0pt;mso-bidi-font-size:10.0pt'>You will receive a payment
of at least <b style='mso-bidi-font-weight:normal'>$0.25</b> for completing this task 
paid through <span class=SpellE>CrowdFlower or Amazon Mechanical Turk</span>. Actual
value may be higher to accurately compensate participants at the rate of
$15/hour.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:6.0pt'><span lang=EN-US
style='font-size:16.0pt;mso-bidi-font-size:10.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='margin-bottom:6.0pt'><span lang=EN-US
style='font-size:16.0pt;mso-bidi-font-size:10.0pt'>The data collected from this
study will be used in articles for publication in journals and conference
proceedings.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:6.0pt'><span lang=EN-US
style='font-size:16.0pt;mso-bidi-font-size:10.0pt'><span
style="mso-spacerun:yes">&nbsp;</span><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:6.0pt'><span lang=EN-US
style='font-size:16.0pt;mso-bidi-font-size:10.0pt'>As one way of thanking you
for your time, we will be pleased to make available to you a summary of the
results of this study once they have been compiled (usually within two months).
This summary will outline the research and discuss our findings and
recommendations. This summary will be available on the research <span
class=GramE>lab’s</span> website: <b style='mso-bidi-font-weight:normal'><a
href="http://hci.csit.upei.ca/">http://hci.csit.upei.ca/</a> <o:p></o:p></b></span></p>

<p class=MsoNormal style='margin-bottom:6.0pt'><span lang=EN-US
style='font-size:16.0pt;mso-bidi-font-size:10.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='margin-bottom:6.0pt'><b style='mso-bidi-font-weight:
normal'><span lang=EN-US style='font-size:16.0pt;mso-bidi-font-size:10.0pt'>All
personal and identifying data will be kept confidential within the limits of
the law</span></b><span lang=EN-US style='font-size:16.0pt;mso-bidi-font-size:
10.0pt'>. Confidentiality will be preserved by using pseudonyms in any
presentation of textual data in journals or at conferences. The informed
consent form and all research data will be kept in a secure location under
confidentiality in accordance with University policy for 5 years post
publication. Do you have any questions about this aspect of the study? <o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:6.0pt'><span lang=EN-US
style='font-size:16.0pt;mso-bidi-font-size:10.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='margin-bottom:6.0pt'><b style='mso-bidi-font-weight:
normal'><span lang=EN-US style='font-size:16.0pt;mso-bidi-font-size:10.0pt'>You
are free to withdraw from the study at any time, or to decline to answer any
question. However, we will not be able to provide compensation for incomplete
tasks.</span></b><span lang=EN-US style='font-size:16.0pt;mso-bidi-font-size:
10.0pt'> Withdrawal from the study will not affect your access to services at
the university. If you withdraw, your data will be deleted from the study and destroyed.
Your right to withdraw data from the study will apply until results have been
disseminated, data has been pooled, etc. After this, it is possible that some
form of research dissemination will have already occurred and it may not be
possible to withdraw your data.<o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:6.0pt'><span lang=EN-US
style='font-size:16.0pt;mso-bidi-font-size:10.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='margin-bottom:6.0pt'><span lang=EN-US
style='font-size:16.0pt;mso-bidi-font-size:10.0pt'>Your continued participation
should be as informed as your initial consent, so you should feel free to ask
for clarification or new information throughout your participation. If you have
further questions concerning matters related to this research, please contact: <span
style="mso-spacerun:yes">&nbsp;</span><o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-indent:-.25in;mso-list:l1 level1 lfo3'><![if !supportLists]><span
lang=EN-US style='font-size:16.0pt;mso-bidi-font-size:10.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:16.0pt;
mso-bidi-font-size:10.0pt'>Dr. Scott Bateman, Assistant Professor, Dept. of
Computer Science &amp; IT, (902) 620-5055 or by email at <a
href="mailto:sbateman@upei.ca">sbateman@upei.ca</a><o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in'><span lang=EN-US style='font-size:16.0pt;mso-bidi-font-size:
10.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='margin-bottom:6.0pt'><span lang=EN-US
style='font-size:16.0pt;mso-bidi-font-size:10.0pt'>By completing this survey it
indicates that you have understood to your satisfaction the information
regarding participation in the research project and agree to participate as a
participant. In no way does this waive your legal rights nor release the investigators,
sponsors, or involved institutions from their legal and professional
responsibilities. If you have further questions about this study or your rights
as a participant, please contact:<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-indent:-.25in;mso-list:l1 level1 lfo3'><![if !supportLists]><span
lang=EN-US style='font-size:16.0pt;mso-bidi-font-size:10.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:16.0pt;
mso-bidi-font-size:10.0pt'>Dr. Scott Bateman, Assistant Professor, Dept. of
Computer Science &amp; IT, (902) 620-5055 or by email at sbateman@upei.ca<o:p></o:p></span></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in;text-indent:-.25in;mso-list:l1 level1 lfo3'><![if !supportLists]><span
lang=EN-US style='font-size:16.0pt;mso-bidi-font-size:10.0pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol'><span
style='mso-list:Ignore'>·<span style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span></span><![endif]><span lang=EN-US style='font-size:16.0pt;
mso-bidi-font-size:10.0pt'>Research Ethics Board, University of Prince Edward
Island, (902) 620-5104 or by email at <a href="mailto:reb@upei.ca">reb@upei.ca</a><o:p></o:p></span></p>

<p class=MsoNormal style='margin-bottom:10.0pt'><span lang=EN-US
style='font-size:6.0pt;mso-bidi-font-size:10.0pt'><o:p>&nbsp;</o:p></span></p>

<br />
<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in'><b style='mso-bidi-font-weight:normal'><span lang=EN-US
style='font-size:20.0pt;mso-bidi-font-size:10.0pt'>Please click if you would
like to <a href="javascript:window.print();">print a copy
of this form</a>.<o:p></o:p></span></b></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in'><b style='mso-bidi-font-weight:normal'><span lang=EN-US
style='font-size:16.0pt;mso-bidi-font-size:10.0pt'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoBodyText2><i style='mso-bidi-font-style:normal'><span lang=EN-US
style='font-size:16.0pt;mso-bidi-font-size:10.0pt'><o:p>&nbsp;</o:p></span></i></p>


<p class=MsoNormal><span lang=EN-US style='font-size:16.0pt;mso-bidi-font-size:
10.0pt'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal><b style='mso-bidi-font-weight:normal'><span lang=EN-US
style='font-size:20.0pt;mso-bidi-font-size:10.0pt'><o:p>&nbsp;</o:p></span></b></p>

<p class=MsoNormal><!--[if gte vml 1]><v:roundrect id="Rounded_x0020_Rectangle_x0020_1"
 o:spid="_x0000_s1028" style='position:absolute;margin-left:0;margin-top:0;
 width:126pt;height:37pt;z-index:251659264;visibility:visible;mso-wrap-style:square;
 mso-wrap-distance-left:9pt;mso-wrap-distance-top:0;mso-wrap-distance-right:9pt;
 mso-wrap-distance-bottom:0;mso-position-horizontal:left;
 mso-position-horizontal-relative:text;mso-position-vertical:top;
 mso-position-vertical-relative:line;v-text-anchor:middle' arcsize="10923f"
 o:gfxdata="UEsDBBQABgAIAAAAIQDkmcPA+wAAAOEBAAATAAAAW0NvbnRlbnRfVHlwZXNdLnhtbJSRQU7DMBBF
90jcwfIWJQ5dIISSdEHaJSBUDjCyJ4nVZGx53NDeHictG4SKWNrj9//TuFwfx0FMGNg6quR9XkiB
pJ2x1FXyY7fNHqXgCGRgcISVPCHLdX17U+5OHlkkmriSfYz+SSnWPY7AufNIadK6MEJMx9ApD3oP
HapVUTwo7SgixSzOGbIuG2zhMESxOabrs0nCpXg+v5urKgneD1ZDTKJqnqpfuYADXwEnMj/ssotZ
nsglnHvr+e7S8JpWE6xB8QYhvsCYPJQJrHDlGqfz65Zz2ciZa1urMW8Cbxbqr2zjPing9N/wJmHv
OH2nq+WD6i8AAAD//wMAUEsDBBQABgAIAAAAIQAjsmrh1wAAAJQBAAALAAAAX3JlbHMvLnJlbHOk
kMFqwzAMhu+DvYPRfXGawxijTi+j0GvpHsDYimMaW0Yy2fr28w6DZfS2o36h7xP//vCZFrUiS6Rs
YNf1oDA78jEHA++X49MLKKk2e7tQRgM3FDiMjw/7My62tiOZYxHVKFkMzLWWV63FzZisdFQwt81E
nGxtIwddrLvagHro+2fNvxkwbpjq5A3wye9AXW6lmf+wU3RMQlPtHCVN0xTdPaoObMsc3ZFtwjdy
jWY5YDXgWTQO1LKu/Qj6vn74p97TRz7jutV+h4zrj1dvuhy/AAAA//8DAFBLAwQUAAYACAAAACEA
09FUVRgDAADoBgAADgAAAGRycy9lMm9Eb2MueG1srFVRT9swEH6ftP9g+X0kLS2jFQUxqk6TGCBg
4tl1nMSSY3u2S8t+/T47SQmMCWlaH8L57ny++7674+Rs1yjyKJyXRi/o6CCnRGhuCqmrBf1xv/p0
TIkPTBdMGS0W9El4enb68cPJ1s7F2NRGFcIRBNF+vrULWodg51nmeS0a5g+MFRrG0riGBRxdlRWO
bRG9Udk4z4+yrXGFdYYL76FdtkZ6muKXpeDhuiy9CEQtKHIL6evSdx2/2ekJm1eO2VryLg32D1k0
TGo8ug+1ZIGRjZN/hGokd8abMhxw02SmLCUXqQZUM8pfVXNXMytSLQDH2z1M/v+F5VePN47IAtxR
olkDim7NRheiILcAj+lKCTKKMG2tn8P7zt647uQhxpp3pWviX1RDdgnapz20YhcIh3J0lOfgixIO
2+RoNoOMMNnzbet8+CpMQ6KwoC5mEVNIsLLHSx9a/96vQ7tYSaWIM+FBhjoBFktJRo87rUCsAWZ5
UntXrS+UI48MLTFZHY++LJM+SB1a5SiPv7Y1fM0K8Yaahe+m6PSHvTuq6aKnyio/fL2LGlXvpzDt
Q8L5/QwO9+5vZABV1SOhpCagNNIBMvDDcHKmBOjv6cAsJEhjnkqT7YLOpuMpeGOYzlKxALGxuOB1
RQlTFcaeB9dCa5TcX/5bkYN6ZjHvDuchoHmvf1WOH8aPfbBkvm5JSKauo5SOyYs0/V0LmE0Q7q4u
tmStNu6WIf9JW38hY7eNI4eUFBKrYZosOL1sqje6J0bAtfgaU7ZmbSqJjS6VYTvsc0jNMUgvi6PV
DlOU1qZ4wkzi9cgK8ZavJGq9ZD7cMIftBCU2brjGp1QGDJlOoqQ27tdb+uiPpQErJVtsO9D3c8Oc
oER90xiN2WgyQdiQDpPp53Esf2hZDy1601wYTA9WBrJLYvQPqhdLZ5oHLObz+CpMTHO83TZKd7gI
7RbGaufi/Dy5YSVaFi71neX9EEeW73cPzNluLwRslCuTBr0F/uVmaH0jI9qcb4IpZVobz7gC/HjA
Om1ntF39cV8Pz8nr+R/U6W8AAAD//wMAUEsDBBQABgAIAAAAIQAvTnc+2wAAAAkBAAAPAAAAZHJz
L2Rvd25yZXYueG1sTE/bSsNAEH0X/IdlBN/sxihR0myKiJUiiDT2A7bZaRLMzobdaRv/3vFJn+YM
53Au1Wr2ozphTEMgA7eLDBRSG9xAnYHd5/rmEVRiS86OgdDANyZY1ZcXlS1dONMWTw13SkwoldZA
zzyVWqe2R2/TIkxIwh1C9JbljZ120Z7F3I86z7JCezuQJPR2wuce26/m6A2Mm5dm4z/W7jX6op22
O+Y3fjfm+mp+WoJinPlPDL/1pTrU0mkfjuSSGg3k9zKFDdzlcoXPHwoBexFmAnRd6f8L6h8AAAD/
/wMAUEsBAi0AFAAGAAgAAAAhAOSZw8D7AAAA4QEAABMAAAAAAAAAAAAAAAAAAAAAAFtDb250ZW50
X1R5cGVzXS54bWxQSwECLQAUAAYACAAAACEAI7Jq4dcAAACUAQAACwAAAAAAAAAAAAAAAAAsAQAA
X3JlbHMvLnJlbHNQSwECLQAUAAYACAAAACEA09FUVRgDAADoBgAADgAAAAAAAAAAAAAAAAAsAgAA
ZHJzL2Uyb0RvYy54bWxQSwECLQAUAAYACAAAACEAL053PtsAAAAJAQAADwAAAAAAAAAAAAAAAABw
BQAAZHJzL2Rvd25yZXYueG1sUEsFBgAAAAAEAAQA8wAAAHgGAAAAAA==
" o:allowoverlap="f" fillcolor="#d8d8d8 [2732]" strokecolor="#4a7ebb">
 <v:fill color2="#9bc1ff" rotate="t"/>
 <v:shadow on="t" opacity="22937f" mv:blur="40000f" origin=",.5" offset="0,23000emu"/>
 <v:textbox>
  <![if !mso]>
  <table cellpadding=0 cellspacing=0 width="100%">
   <tr>
    <td><![endif]>
    <div>
    <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
    style='font-size:20.0pt;mso-bidi-font-size:10.0pt'>Continue<o:p></o:p></span></p>
    </div>
    <![if !mso]></td>
   </tr>
  </table>
  <![endif]></v:textbox>
 <w:wrap type="square"/>
</v:roundrect><![endif]--><![if !vml]><img width=140 height=53
src="http://files.upei.ca/misc/upeishield.png" align=left hspace=12
alt="Rounded Rectangle: Continue" v:shapes="Rounded_x0020_Rectangle_x0020_1"><![endif]><b
style='mso-bidi-font-weight:normal'><span lang=EN-US style='font-size:20.0pt;
mso-bidi-font-size:10.0pt'><span style="mso-spacerun:yes">&nbsp;</span><o:p></o:p></span></b></p>

<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:.5in'><b style='mso-bidi-font-weight:normal'><span lang=EN-US
style='font-size:11.0pt;mso-bidi-font-size:10.0pt'><o:p>&nbsp;</o:p></span></b></p>

</div>

</body>

</html>
